<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AND</string>
	<string>BEAR</string>
	<string>BOAR</string>
	<string>DEER</string>
	<string>DUCK</string>
	<string>HARE</string>
	<string>NUMBER</string>
	<string>ABACTINALLY</string>
	<string>ABACTION</string>
	<string>ABACTOR</string>
	<string>ABACULUS</string>
	<string>ABACUS</string>
	<string>ABADITE</string>
	<string>ABAFF</string>
	<string>ABAFT</string>
	<string>ABAISANCE</string>
	<string>ABAISER</string>
	<string>ABAISSED</string>
	<string>ABALIENATE</string>
	<string>ABALIENATION</string>
	<string>ABALONE</string>
	<string>ABAMA</string>
	<string>ABAMPERE</string>
	<string>ABANDON</string>
	<string>ABANDONABLE</string>
	<string>ABANDONED</string>
	<string>ABANDONEDLY</string>
	<string>ABANDONEE</string>
	<string>ABANDONER</string>
	<string>ABANDONMENT</string>
	<string>ABANIC</string>
	<string>ABANTES</string>
	<string>ABAPTISTON</string>
	<string>ABARAMBO</string>
	<string>ABARIS</string>
	<string>ABARTHROSIS</string>
	<string>ABARTICULAR</string>
	<string>ABARTICULATION</string>
	<string>ABAS</string>
	<string>ABASE</string>
	<string>ABASED</string>
	<string>ABASEDLY</string>
	<string>ABASEDNESS</string>
	<string>ABASEMENT</string>
	<string>ABASER</string>
	<string>ABASGI</string>
	<string>ABASH</string>
	<string>ABASHED</string>
	<string>ABASHEDLY</string>
	<string>ABASHEDNESS</string>
	<string>ABASHLESS</string>
	<string>ABASHLESSLY</string>
	<string>ABASHMENT</string>
	<string>ABASIA</string>
	<string>ABASIC</string>
	<string>ABASK</string>
	<string>ABASSIN</string>
	<string>ABASTARDIZE</string>
	<string>ABATABLE</string>
	<string>ABATE</string>
	<string>ABATEMENT</string>
	<string>MONISTIC</string>
	<string>MONISTICAL</string>
	<string>MONISTICALLY</string>
	<string>MONITION</string>
	<string>MONITIVE</string>
	<string>MONITOR</string>
	<string>MONITORIAL</string>
	<string>MONITORIALLY</string>
	<string>MONITORISH</string>
	<string>MONITORSHIP</string>
	<string>SQUAT</string>
	<string>SQUATAROLA</string>
	<string>SQUATAROLE</string>
	<string>SQUATINA</string>
	<string>SQUATINID</string>
	<string>SQUATINIDAE</string>
	<string>SQUATINOID</string>
	<string>SQUATINOIDEI</string>
	<string>SQUATLY</string>
	<string>SQUATMENT</string>
	<string>SQUATMORE</string>
	<string>SQUATNESS</string>
	<string>SQUATTAGE</string>
	<string>SQUATTED</string>
	<string>SQUATTER</string>
	<string>SQUATTERARCHY</string>
	<string>SQUATTERDOM</string>
	<string>SQUATTERPROOF</string>
	<string>SQUATTILY</string>
	<string>SQUATTINESS</string>
	<string>SQUATTING</string>
	<string>SQUATTINGLY</string>
	<string>SQUATTISH</string>
	<string>SQUATTOCRACY</string>
	<string>SQUATTOCRATIC</string>
	<string>SQUATTY</string>
	<string>SQUATWISE</string>
	<string>SQUAW</string>
	<string>SQUAWBERRY</string>
	<string>SQUAWBUSH</string>
	<string>SQUAWDOM</string>
	<string>SQUAWFISH</string>
	<string>SQUAWFLOWER</string>
	<string>SQUAWK</string>
	<string>SQUAWKER</string>
	<string>SQUAWKIE</string>
	<string>SQUAWKING</string>
	<string>SQUAWKINGLY</string>
</array>
</plist>
